{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="row">
            <div class="col-lg-4">
                <div class="card rounded-4">
                    <div class="card-body">
                        {% include 'includes/sidebar.html' %}
                    </div>
                </div>
            </div>

            <div class="col-lg-8 mt-3">
                <div class="card rounded-4">
                    <div class="card-body">
                        <div class="text-center">
                            <h5>Cambiar Contraseña</h5>
                        </div>
                        <form action="{% url 'accounts:change_password' %}" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="password" name="current_password" placeholder="Ingrese tu contraseña actual" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" name="new_password" placeholder="Contraseña nueva" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <input type="password" name="confirm_password" placeholder="Confirmar contraseña" class="form-control" required>
                            </div>                       
                            <br>
                            <input type="submit" value="Save" class="btn btn-dark rounded-3 fw-bold">
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}