{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center mb-3"><b>Restablecer Contraseña</b></h5>
                <form action="{% url 'accounts:resetPassword' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Crear nueva contraseña" name="password">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" placeholder="Confirmar nueva contraseña" name="confirm_password">
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark rounded-3" type="submit">Crear nueva Contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}