@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
body{
    background-color: #F3F3F3;
    font-family: 'Nunito', sans-serif;
}

.list-group-item.active {
    color: #252525 !important;
    background-color: #F3F3F3 !important;
    border-color: #F3F3F3;
    border-radius: 1rem;
}
  
.list-group-item:hover{
    color: #252525;
}